@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

#preLoader {
    width: 100%;
    height: 100vh;
    background: url('../imgs/loading.gif') no-repeat center center;
}

.context_menu {
    display: none;
    position: fixed;
    width: 200px;
    height: 300px;
    background: #fff;
    z-index: 999999;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
    border-radius: 5px;
    overflow: hidden;
}

.context_menu ul {
    width: 100%;
    height: 100%;
    list-style: none;
}

.context_menu li {
    width: 100%;
    padding: 15px 20px;
    border-bottom: 2px solid #614af2;
    cursor: pointer;
}

.context_menu li:hover {
    background-color: #4834d4;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
    z-index: 1000;
    position: sticky;
}
#toggler{
    display: none;
}
.nav-links {
    list-style: none;
    display: flex;
    font-weight: 400;
}

.nav-link {
    padding: 8px 15px;
    position: relative;
    cursor: pointer;
    font-size: 14px;
}

.nav-link::before {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    width: 0px;
    height: 2px;
    background-color: #4834d4;
    transform: translateX(-50%);
    transition: all 0.4s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
    width: 20px;
}

.nav-link a {
    text-decoration: none;
    color: #130f40;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.btn-login {
    font-size: 12px;
    text-decoration: none;
    background-color: #4834d4;
    color: #ffffff;
    padding: 12px 25px;
    font-weight: 500;
    border-radius: 50vw;
}

main {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

section.url_area {
    width: 100%;
    height: 80vh;
    position: relative;
}

.url_area .glass-effect {
    height: 80vh;
    width: 100%;
    position: absolute;
    display: grid;
    --box-size: 800px;
    --col-size: calc(var(--box-size) / 2);
    grid-template-columns: repeat(4, var(--col-size));
    filter: blur(150px);
    overflow: hidden;
    transition: all 1 ease-in-out;

    & .box {
        height: var(--box-size);
        width: var(--box-size);
        background-color: attr(data-clr);
        border-radius: 50%;
        transition: all 1 ease-in-out;
    }
}

.main_area {
    position: absolute;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 40px;
    flex-direction: column;
}

.main_area h2 {
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}

.main_area .small-title {
    font-weight: 200;
    margin-block: 1.5rem;
    font-size: 1rem;
}

.main_area .input_area {
    display: flex;
    padding: .7rem;
    gap: 15px;
    justify-content: stretch;
    background-color: #fff;
    color: #4834d4;
    border-radius: 50vw;

    & .btn-download {
        all: unset;
        background-color: #4834d4;
        color: #fff;
        padding: .5rem .8rem;
        border-radius: 50vw;
        font-size: .8rem;
        cursor: pointer;
    }

    & input {
        all: unset;
        width: 20rem;
        font-size: .8rem;
    }

    & i {
        margin: auto 5px;
    }
}

.svg-area {
    width: 100%;
    height: 20vh;
    margin-bottom: 5vh;
}

svg {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.features {
    width: 100%;
    min-height: 40vh;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    margin-bottom: 50px;
}

.features * {
    text-align: center;
}

.features .use-area {
    display: flex;
    gap: 2rem;
}

.features .use-area .box {
    width: calc(100vw / 8);
}

.features .icon {
    display: grid;
    place-content: center;
    padding: 20px;
    font-size: 2rem;
    color: #fff;
}

.features i {
    --size: 60px;
    margin: auto;
    width: var(--size);
    height: var(--size);
    border-radius: .5rem;
    line-height: var(--size);
}

.login {
    height: 50vh;
    width: calc(100vw - 50vh);
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

.login .left {
    height: 400px;
    width: 400px;
}

.login .left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.form-group {
    background-color: #ccedfc;
    padding: 15px;
    margin-block: 10px;
    border-radius: 5px;
}

.form-group * {
    display: inline-block;
}

.form-group .icon {
    --fs-size: 2rem;
    height: var(--fs-size);
    line-height: var(--fs-size);
    width: var(--fs-size);
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000;
}

.form-group input {
    all: unset;
    width: 15rem;
}

.form-group.focus {
    outline: 2px solid #1CB594;
}

.focus .icon {
    color: #1CB594;
}

.form-group.button {
    background-color: #1CB594;
    color: #fff;
    text-align: center;
}

.form-group button {
    all: unset;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    width: 100%;
    height: 100%;
}

footer {
    height: 10vh;
    background-color: #fff;
    display: flex;
    color: #000;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #4834d4;
}

footer ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
}

footer .logo {
    font-size: 1.5rem;
}

footer .nav-link {
    color: #000;
    text-decoration: none;
    font-size: 1rem;
}

@media (max-width: 900px) {
    #toggler {
        display: block;
        font-size: 2rem;
        color: #000;
        cursor: pointer;
    }
    
    .navbar{
        position: fixed; 
    }
    nav .nav-links{
        position: fixed;
        background-color: #fff;
        width: 100%;
        transition: all 0.3s ease;
        left: -100%;
        height: calc(100vh - 80px);
        top: 80px;
        display: inline-block;
        text-align: center;
        padding: 20px;
        & li{
            padding: 15px;
        }
    }
    nav.visible .nav-links{
        left: 0;
    }
    .features .use-area {
        display: flex;
        flex-direction: column;
    }

    .features .use-area .box {
        width: calc(100vw / 3);
    }

    .main_area .main-title {
        font-size: 2rem;
    }

    .main_area .small-title {
        font-size: 12px;
        margin-top: -5px;
    }

    .main_area .input_area {
        & input {
            font-size: .6rem;
            width: 50vw;
        }

        & .btn-download {
            font-size: .5rem;
        }
    }

    .features {
        & .icon i {
            font-size: 2rem;
            --size: 4rem;
            height: var(--size);
            width: var(--size);
            line-height: var(--size);
        }

        & p {
            font-size: .8rem;
            margin-top: 10px;
        }
    }

    .login {
        width: 80vw;
        border-top: 3px solid #4834d4;
        display: grid;
        place-content: center;
        & h2 {
            text-align: center;
            margin-block: 15px;
            font-size: 1.8rem;
        }
        & p {
            text-align: center;
            margin-bottom: 20px;
            font-size: 1.1rem;
        }
        .form-group{
            width: 55vw;
        }
        & .icon {
            --fs-size: 20px;
            height: var(--fs-size);
            line-height: var(--fs-size);
            width: var(--fs-size);
            font-size: 15px;
        }
        & input{
            width: 80%;
        }

        & .button button {
            font-size: .9rem;
        }
    }

    .login .left {
        display: none;
    }

    .login .right {
        width: 100%;

        & .form-group {
            font-size: 1rem;
        }
    }
    footer{
        margin-top: 12px;
    }
    footer .logo{
        font-size: 1rem;
    }
    footer .nav-link{
        font-size: 10px;
    }
}